{{ name }}
{{ login_error }}
<form action="/acesso" method="post">
       			<div class="form-group has-feedback">
           			<input type="text" class="form-control" placeholder="Login" name="userdata[email]"/>
           			<span class="glyphicon glyphicon-envelope form-control-feedback"></span>
       			</div>
       			<div class="form-group has-feedback">
           			<input type="password" class="form-control" placeholder="Senha"  name="userdata[password]"/>
           			<span class="glyphicon glyphicon-lock form-control-feedback"></span>
       			</div>
       			<div class="row">
           			<div class="col-xs-8">    
           				<div class="checkbox icheck">
               				<label>
               					<input type="checkbox" name="userdata[remember_me]"> Mantenha conectado
               				</label>
           				</div>                        
           			</div><!-- /.col -->
           			<div class="col-xs-4">
           				<button type="submit" class="btn btn-primary btn-block btn-flat">Entrar</button>
           			</div>
                <a href="/acesso/login/redefine" class="btn btn-primary btn-block btn-flat">Solicitar Nova Senha</button>
                </div><!-- /.col -->
       			</div>
       		</form>